body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir", serif;
}

h1{
    text-align: center;
    color: white;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#color-display{
    font-size: 200%;
    line-height: 1.1;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

#message {
    display: inline-block;
    width: 20%;
}

.selected {
    color: white;
    background-color: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}